{% extends "base.html" %} {% block content %}
    
{% load bootstrap %}
{% load staticfiles %}

<h3>Submit Challenge Token</h3><hr/>
<div class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Heyo!</strong> Please type in your badge number and challenge token. If correct your badge will update when it next syncs.
</div>

<form action="" method="post" class="">
    {{ form|bootstrap }}
     <div class="actions row">
         <p class="col-md-3 col-sm-5 submit">
             <input type="submit" value="Submit Challenge Token!" name="_update" class="btn btn-primary" />
         </p>
         
         {% csrf_token %}
     </div>
 </form>

<h3>Challenges</h3><hr/>
Challenges unlock <a href='#prizes'>various things</a> on the badge, it might be an animation or a particular application that you can run on the badge. To unlock a challenge simply put in your challenge code as well as your badge ID. You can view the challenges below<br/> <br/>

<div class="alert alert-dismissible alert-success">
  <strong>Alias</strong>
</div>
<div>
  To unlock this simply set the alias for your badge!
</div>
<div><strong>Unlocks:</strong> Alias Rainfall</div><br/><br/>

<div class="alert alert-dismissible alert-success">
  <strong>RetroRom</strong>
</div>
<div>
  To access this challenge browse to <a href='http://hypn.za.net/bsides/retroport.php'>http://hypn.za.net/bsides/retrorom.php</a>
</div>
<div><strong>Unlocks:</strong> Pong</div><br/><br/>


<div class="alert alert-dismissible alert-success">
  <strong>RetroPort</strong>
</div>
<div>
  To access this challenge browse to <a href='http://hypn.za.net/bsides/retroport.php'>http://hypn.za.net/bsides/retroport.php</a>
</div>
<div><strong>Unlocks:</strong> Alias Rainfall</div><br/><br/>

<div class="alert alert-dismissible alert-success">
  <strong>HappyCorp</strong>
</div>
<div>
Hello Eli

Before recieving your prize, you must prove that you are worthy.

The first step is to find a webpage which has been cleverly hidden below:</div>
<div><strong>Unlocks:</strong> Skeleton</div><br/><br/>

<div class="alert alert-dismissible alert-success">
  <strong>Secret Squirrel</strong>
</div>
<div>
The BSides lunch tokens seemed to have had some very clever imagary hidden within them. Perhaps that could be a clue to this challenge</div>
<div><strong>Unlocks:</strong> Warbadging</div><br/><br/>

<a name="challenges"><h3>Challenge Applications</h3><hr/></a>
<div class="alert alert-dismissible alert-info">
<strong>PONG</strong>
</div>
The Pong application lets you play pong against another player by holding the badge with the screen between you and the other person!
<br/><br/>
First person to five wins.
<br/><br/>
To <strong>QUIT</strong> the game press the two buttons closer to the screen (right and A)

<br/><br/>


<div class="alert alert-dismissible alert-info">
<strong>WARBADGING</strong>
</div>
Warbadging is where you can use the badge to scan for Wireless networks. It will scan up to 30 networks and allow you to scroll through them. It will show you the signal strength, what encryption the network is running ( WPA = WP, WPA2 = W2, OPEN = OP, AUTO = AU, Unknown = ??).
You can use this to take with you to find wireless networks. It will also scan all the channels!
<br/><br/>

To <strong>QUIT</strong> this press the two buttons closer to the screen (right and A)<br/><br/>


<div class="alert alert-dismissible alert-info">
<strong>Skeleton!</strong>
</div>
Get an adorable 8 bit skeleton to run across your screen<br/><br/>

<div class="alert alert-dismissible alert-info">
<strong>Alias Rainfall</strong>
</div>
Have your alias rain down from the top to the bottom of the screen.


<h3 style='color: #f00'>This stuff will be removed for actual release</h3>
<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <td><strong>Challenge Name</strong></td>
    <td><strong>Challenge Description</strong></td>
    <td><strong>Challenge Password</strong></td>
    <td><strong>Challenge Valid Code</strong></td>
  </tr>
  </thead>
{% for c in Challenges %}
<tr>
  <td>{{c.challenge_name}}</td>
  <td>{{c.challenge_description}}</td>
  <td>{{c.challenge_pass}}</td>
  <td>{{c.challenge_valid}}</td>
</tr>
{% endfor %}
</table>

<h4>Encrypt</h4>
This will give the valid output for *all* challenges<br/><br/>
<strong>Badge Number</strong><input type="text" name="bnumber" id='bnumber'/><br/><br/>
<a href="#" class="btn btn-default" onclick='getCrypts();return false;'>Show Values</a><br/>
<div id='results'>&nbsp;</div>



<h3>Encryption</h3>
<XMP>
  Badge encryption works as follows:
  
  Encrypt:
  --------
  Take badge number and add to secret key from challenge
  Use this as encryption key ( padded with leading 0s to 32 characters)
  AES Encrypt in CBC mode with a 16 char IV
  Add IV to front of encryption and B64 encode entire thing
  
  Decrypt:
  --------
  Take badge number and add to secret key from challenge
  Use this as encryption key ( padded with leading 0s to 32 characters)
  Base64 decode submitted hash
  Take first 16 chars of this as IV
  AES Decrypt in CBC mode with these 16 as IV
  If outputted string matches the challenges 'valid code' then we add it to badge!
  
</XMP>
<h3>Python Code for Encryption/Decryption</h3>
<XMP>
BS = 16
pad = lambda s: s + (BS - len(s) % BS) * chr(BS - len(s) % BS) 
unpad = lambda s : s[:-ord(s[len(s)-1:])]

class AESCipher:
	def __init__( self, key ):
		#key = base64.b64encode(key)
		if(len(key) > 32):
			key = key[:32]
		else:
			key = key.zfill(32)
		
		self.key = key

	
	
	def encrypt( self, raw ):
		raw = pad(raw)
		iv = Random.new().read( AES.block_size )
		cipher = AES.new( self.key, AES.MODE_CBC, iv )
		return base64.b64encode( iv + cipher.encrypt( raw ) ) 
	
	def decrypt( self, enc ):
		enc = base64.b64decode(enc)
		iv = enc[:16]
		cipher = AES.new(self.key, AES.MODE_CBC, iv )
		return unpad(cipher.decrypt( enc[16:] ))

</XMP>


<script type="text/javascript">
  function getCrypts() {
    //code
  
   $.ajax({
    'url' : '{% url 'badge:addhash' %}',
  //The type of request, also known as the "method" in HTML forms
  //Can be 'GET' or 'POST'
    'type' : 'GET',
  //Any post-data/get-data parameters
  //This is optional
    'data' : {
      'badgeNum' : $('#bnumber').val(),
      
    },
  //The response from the server
    'success' : function(data) {
    //You can use any jQuery/JavaScript here!!!
    console.log(data);
      $('#results').html('<div class="alert alert-dismissible alert-success">' + data.result + '</div>');
    }
  });
   }

</script>
{% endblock %}
